html, body, iframe, ul{
  border:0;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
iframe{
  padding-top:50px;
  box-sizing: border-box;
}
body{
  position:relative;
}
iframe{
  position:absolute;
}
.topNav{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.topNav ul{
  display:table;
  width:100%;
}
.topNav li{
  display:table-cell;
  text-align:center;
}
.topNav li a{
  color:inherit;
  width:100%;
  height:100%;
  text-decoration:none;
  background-color:#ccc;
  display:block;
  padding: 20px 0;
  border-bottom:4px solid black;
  box-sizing:border-box;
  transition-duration: 1s;

}
.topNav li a:hover{
  color:green;
  background-color:red;
  transition-duration: 1s;
  border-color:blue;
}
.topNav .selected{
  color:yellow;
  background-color:brown;
  transition-duration: 1s;
  border-color:green;

}
